node_modules
bundle
dist
.env

# ignore makepkg directories
package/*/*/
package/*/*.zst

# Yarn cache files
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/cache

.DS_Store

# dmg build
dmg-files/source_folder
dmg-files/rw.Divolt-Installer.dmg